<div class="container pb-5" *ngIf="user" style="padding-top: 50px; box-shadow: 0px 0px 20px -10px;">
    <div class="row">
        <div class="text-center">
            <h1>User Profile</h1>
        </div>
        <div class="image" style="display: flex; justify-content: center; width: 50%; margin: auto;">
            <img src="images/image-user.png" alt="User Image" style="width: 250px; height: 200px;">
        </div>
        <div class="text-center">
            <h2>{{user.userName}}</h2>
        </div>
       
        <table class="table" style="margin-top: 50px;">
            <thead style="font-size: 20px;">
                <tr>
                    <th scope="col">User Details</th>
                    <th scope="col">User Info</th>
                </tr>
            </thead>
            <tbody style="font-size: 20px;">
                
                <tr>
                    <td>UserName</td>
                    <td class="table-primary">{{user.userName}}</td>
                </tr>
                <tr *ngIf="user.firstName">
                    <td>FirstName</td>
                    <td class="table-primary">{{user.firstName}}</td>
                </tr>
                <tr *ngIf="user.lastName">
                    <td>LastName</td>
                    <td class="table-primary">{{user.lastName}}</td>
                </tr>
                <tr *ngIf="user.email">
                    <td>Email</td>
                    <td class="table-primary">{{user.email}}</td>
                </tr>
                <tr *ngIf="user.phoneNo">
                    <td>PhoneNo</td>
                    <td class="table-primary">{{user.phoneNo}}</td>
                </tr>
                <tr>
                    <td>Authority</td>
                    <td class="table-primary">{{user.authorities[0].authority}}</td>
                </tr>
                <tr>
                    <td>Status</td>
                    <td class="table-primary">{{user.enabled}}</td>
                </tr>
            </tbody>
        </table>

        <div class="buttons"style="display: flex; justify-content: space-around; width: 40%; margin: auto; margin-top: 30px;" >
            <button type="button" class="btn btn-secondary" style="width: 150px; height: 50px; font-size: 20px;" [routerLink]="['/admin-dashboard/user-update', user.id, user.userName]">Update</button>
            <button type="button" class="btn btn-success"  style="width: 150px; height: 50px; font-size: 20px;" (click)="printPage()">Print</button>
        </div>
        
        
    </div>
</div>
