<nav class="navbar navbar-expand-lg " style="height: 80px; font-size: 20px; background-color: rgb(157, 153, 161);">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" style="font-size: 25px;">BALTI</a>
            <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-black" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-black" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-black" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-black" href="#">Link</a>
          </li>
        </ul>
        <form class="d-flex">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item d-flex align-items-center" *ngIf="!loginService.isLoggedIn()">
                <a class="nav-link active text-black pt-3" aria-current="page" href="#" [routerLink]="['/login']">Login</a>
                <i class="fa-solid fa-user fa-sm" style="color: #000000;"><svg xmlns="http://www.w3.org/2000/svg" height="20" width="20" viewBox="0 0 448 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#000000" d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512l388.6 0c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304l-91.4 0z"/></svg></i>
              </li>
              <li class="nav-item d-flex align-items-center" *ngIf="!loginService.isLoggedIn()">
                <a class="nav-link text-black pt-3" href="#" [routerLink]="['/signup']">Sign Up</a>
                <i class="fa-solid fa-lock fa-sm" style="color: #000000;"><svg xmlns="http://www.w3.org/2000/svg" height="20" width="20" viewBox="0 0 448 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#000000" d="M144 144l0 48 160 0 0-48c0-44.2-35.8-80-80-80s-80 35.8-80 80zM80 192l0-48C80 64.5 144.5 0 224 0s144 64.5 144 144l0 48 16 0c35.3 0 64 28.7 64 64l0 192c0 35.3-28.7 64-64 64L64 512c-35.3 0-64-28.7-64-64L0 256c0-35.3 28.7-64 64-64l16 0z"/></svg></i>
              </li>
              <li class="nav-item d-flex align-items-center" *ngIf="loginService.isLoggedIn()">
                <a class="nav-link text-black pt-3" href="#" [routerLink]="['/signup']" (click)="logOut()">LogOut</a>
                <i class="fa-solid fa-lock fa-sm" style="color: #000000;"><svg xmlns="http://www.w3.org/2000/svg" height="20" width="20" viewBox="0 0 448 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#000000" d="M144 144l0 48 160 0 0-48c0-44.2-35.8-80-80-80s-80 35.8-80 80zM80 192l0-48C80 64.5 144.5 0 224 0s144 64.5 144 144l0 48 16 0c35.3 0 64 28.7 64 64l0 192c0 35.3-28.7 64-64 64L64 512c-35.3 0-64-28.7-64-64L0 256c0-35.3 28.7-64 64-64l16 0z"/></svg></i>
              </li>
            </ul>
          
        </form>
      </div>
    </div>
  </nav>