<div class="container" style="box-shadow: 0px 0px 20px -10px; padding-top: 40px;">
    <div class="row">
        <div class="text-center pb-4">
            <h2>Add Categories</h2>
        </div>
        <!-- Feedback Messages -->
  <div *ngIf="successMessage" class="alert alert-success">
    {{ successMessage }}
  </div>
  <div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>
        <div class="row mb-5">
            <div class="form">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Tiltle</label>
                    <input [(ngModel)]="categories.title" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter a title">
                  </div>
                  <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Description</label>
                    <textarea [(ngModel)]="categories.description" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                  </div>
            </div>
            <div class="buttons" style="display: flex; justify-content: center;">
                <button (click)="submit()" type="button" class="btn btn-danger" style="width: 150px; height: 50px; font-size: 20px;">Add</button>
            </div>
            
        </div>
    </div>
</div>
