<div class="bootstrap-wrapper">
    <div class="container" style="box-shadow: 0px 0px 30px -10px;">
        <h1>Update Question</h1>
        <div class="row" >
          <div class="col-lg-10" >
            <label for="">Write a Question</label>
            <textarea name="content" id="" required="question.content" [(ngModel)]="question.content"></textarea>
          </div>
          <div class="col-lg-5">
            <label for="">First Option </label>
            <input type="text" required="question.opt1" placeholder="enter your question" [(ngModel)]="question.opt1">
          </div>
          <div class="col-lg-5">
            <label for="">Second Option </label>
            <input type="text" required="question.opt2"  placeholder="enter your question" [(ngModel)]="question.opt2">
          </div>
          <div class="col-lg-5">
            <label for="">Third Option </label>
            <input type="text" required="question.opt3"  placeholder="enter your question" [(ngModel)]="question.opt3">
          </div>  
          <div class="col-lg-5">
            <label for="">Fourth Option </label>
            <input type="text" required="question.opt4"  placeholder="enter your question" [(ngModel)]="question.opt4">
          </div>
          <div class="col-lg-10">
            <select class="form-select mt-3" aria-label="Default select example" [(ngModel)]="question.answer">
                <option  [value]="question.opt1">{{question.opt1}}</option>
                <option [value]="question.opt2">{{question.opt2}}</option>
                <option  [value]="question.opt3">{{question.opt3}}</option>
                <option [value]="question.opt4">{{question.opt4}}</option>
              </select>
          </div>
        </div>
    </div>
</div>

<!-- Add New Quiz Button -->
<div class="d-flex justify-content-center mt-4">
    <button type="button" class="btn btn-danger" style="font-size: 20px; width: 200px; height: 50px;" (click)="submit()">Add</button>
</div>


{{question | json}}
